h1{
    font-family: 'Times New Roman', Times, serif;
    font-size:80px;
color: cadetblue;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: steelblue;
}

.rotatetext::first-letter{
    float: left;
  font-size: 30px;
  line-height: 0.80;
}
.listcolor{
    font-size: medium;
    font-weight: bold;
  color:yellowgreen;
}
body{
    background-color:#161b22;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.textcolor{
    color: tomato;
}
p{
    text-align: justify;
}
img{
   
    flex-direction: row;
}
a{
    color: red;
    text-decoration: none;
}
