.webform1{
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
}
.form-label{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:x-large;
}
.btn-padding{
    margin-top: 10px;
}
.nav-justify {
    justify-content: flex-start !important;
align-items: flex-start;
}
.nav-justify > a:nth-child(3) {
    flex: auto;
}

.buttons > *{
    margin: .5rem .9rem;
}
.nav-link1{
    justify-content:flex-end;
    text-align-last: right;
}
