.webform1{
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
}
.form-label{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:x-large;
}
.btn-padding{
    margin-top: 10px;
}